<p>Hello <%= @user.name%>,</p>

  <p>We are pleased to inform you that, you have just booked a conference room called <%= @conference_room.conference_room.title %> for the time-slot <%= @conference_room.start_time %> to <%= @conference_room.end_time %></p>


<p>Thank you!!</p>
<p>Team Conference</p>